{# app/Resources/views/ranking/ranking.html.twig #} 
{% extends "base.html.twig" %} 

{% block title %}Jugar{% endblock %} 
{%block body %} 

{% include "menu.html.twig" %}

    <div class="ui container" style="display: flex; justify-content: center; align-items: center;">
        <div style="width: 560px; height: 560px;">
            <svg width="560px" height="560px">
                <g>
                    <rect x="0" y="0" width="70px" height="70px" style="fill: beige;"></rect>
                </g>
                <g>
                    <rect x="70" y="0" width="70px" height="70px" style="fill: tan;"></rect>
                </g>
                <g>
                    <rect x="140" y="0" width="70px" height="70px" style="fill: beige;"></rect>
                </g>
                <g>
                    <rect x="210" y="0" width="70px" height="70px" style="fill: tan;"></rect>
                </g>
                <g>
                    <rect x="280" y="0" width="70px" height="70px" style="fill: beige;"></rect>
                </g>
                <g>
                    <rect x="350" y="0" width="70px" height="70px" style="fill: tan;"></rect>
                </g>
                <g>
                    <rect x="420" y="0" width="70px" height="70px" style="fill: beige;"></rect>
                </g>
                <g>
                    <rect x="490" y="0" width="70px" height="70px" style="fill: tan;"></rect>
                </g>
                <g>
                    <rect x="0" y="70" width="70px" height="70px" style="fill: tan;"></rect>
                </g>
                <g>
                    <rect x="70" y="70" width="70px" height="70px" style="fill: beige;"></rect>
                </g>
                <g>
                    <rect x="140" y="70" width="70px" height="70px" style="fill: tan;"></rect>
                </g>
                <g>
                    <rect x="210" y="70" width="70px" height="70px" style="fill: beige;"></rect>
                </g>
                <g>
                    <rect x="280" y="70" width="70px" height="70px" style="fill: tan;"></rect>
                </g>
                <g>
                    <rect x="350" y="70" width="70px" height="70px" style="fill: beige;"></rect>
                </g>
                <g>
                    <rect x="420" y="70" width="70px" height="70px" style="fill: tan;"></rect>
                </g>
                <g>
                    <rect x="490" y="70" width="70px" height="70px" style="fill: beige;"></rect>
                </g>
                <g>
                    <rect x="0" y="140" width="70px" height="70px" style="fill: beige;"></rect>
                </g>
                <g>
                    <rect x="70" y="140" width="70px" height="70px" style="fill: tan;"></rect>
                </g>
                <g>
                    <rect x="140" y="140" width="70px" height="70px" style="fill: beige;"></rect>
                </g>
                <g>
                    <rect x="210" y="140" width="70px" height="70px" style="fill: tan;"></rect>
                </g>
                <g>
                    <rect x="280" y="140" width="70px" height="70px" style="fill: beige;"></rect>
                </g>
                <g>
                    <rect x="350" y="140" width="70px" height="70px" style="fill: tan;"></rect>
                </g>
                <g>
                    <rect x="420" y="140" width="70px" height="70px" style="fill: beige;"></rect>
                </g>
                <g>
                    <rect x="490" y="140" width="70px" height="70px" style="fill: tan;"></rect>
                </g>
                <g>
                    <rect x="0" y="210" width="70px" height="70px" style="fill: tan;"></rect>
                </g>
                <g>
                    <rect x="70" y="210" width="70px" height="70px" style="fill: beige;"></rect>
                </g>
                <g>
                    <rect x="140" y="210" width="70px" height="70px" style="fill: tan;"></rect>
                </g>
                <g>
                    <rect x="210" y="210" width="70px" height="70px" style="fill: beige;"></rect>
                </g>
                <g>
                    <rect x="280" y="210" width="70px" height="70px" style="fill: tan;"></rect>
                </g>
                <g>
                    <rect x="350" y="210" width="70px" height="70px" style="fill: beige;"></rect>
                </g>
                <g>
                    <rect x="420" y="210" width="70px" height="70px" style="fill: tan;"></rect>
                </g>
                <g>
                    <rect x="490" y="210" width="70px" height="70px" style="fill: beige;"></rect>
                </g>
                <g>
                    <rect x="0" y="280" width="70px" height="70px" style="fill: beige;"></rect>
                </g>
                <g>
                    <rect x="70" y="280" width="70px" height="70px" style="fill: tan;"></rect>
                </g>
                <g>
                    <rect x="140" y="280" width="70px" height="70px" style="fill: beige;"></rect>
                </g>
                <g>
                    <rect x="210" y="280" width="70px" height="70px" style="fill: tan;"></rect>
                </g>
                <g>
                    <rect x="280" y="280" width="70px" height="70px" style="fill: beige;"></rect>
                </g>
                <g>
                    <rect x="350" y="280" width="70px" height="70px" style="fill: tan;"></rect>
                </g>
                <g>
                    <rect x="420" y="280" width="70px" height="70px" style="fill: beige;"></rect>
                </g>
                <g>
                    <rect x="490" y="280" width="70px" height="70px" style="fill: tan;"></rect>
                </g>
                <g>
                    <rect x="0" y="350" width="70px" height="70px" style="fill: tan;"></rect>
                </g>
                <g>
                    <rect x="70" y="350" width="70px" height="70px" style="fill: beige;"></rect>
                </g>
                <g>
                    <rect x="140" y="350" width="70px" height="70px" style="fill: tan;"></rect>
                </g>
                <g>
                    <rect x="210" y="350" width="70px" height="70px" style="fill: beige;"></rect>
                </g>
                <g>
                    <rect x="280" y="350" width="70px" height="70px" style="fill: tan;"></rect>
                </g>
                <g>
                    <rect x="350" y="350" width="70px" height="70px" style="fill: beige;"></rect>
                </g>
                <g>
                    <rect x="420" y="350" width="70px" height="70px" style="fill: tan;"></rect>
                </g>
                <g>
                    <rect x="490" y="350" width="70px" height="70px" style="fill: beige;"></rect>
                </g>
                <g>
                    <rect x="0" y="420" width="70px" height="70px" style="fill: beige;"></rect>
                </g>
                <g>
                    <rect x="70" y="420" width="70px" height="70px" style="fill: tan;"></rect>
                </g>
                <g>
                    <rect x="140" y="420" width="70px" height="70px" style="fill: beige;"></rect>
                </g>
                <g>
                    <rect x="210" y="420" width="70px" height="70px" style="fill: tan;"></rect>
                </g>
                <g>
                    <rect x="280" y="420" width="70px" height="70px" style="fill: beige;"></rect>
                </g>
                <g>
                    <rect x="350" y="420" width="70px" height="70px" style="fill: tan;"></rect>
                </g>
                <g>
                    <rect x="420" y="420" width="70px" height="70px" style="fill: beige;"></rect>
                </g>
                <g>
                    <rect x="490" y="420" width="70px" height="70px" style="fill: tan;"></rect>
                </g>
                <g>
                    <rect x="0" y="490" width="70px" height="70px" style="fill: tan;"></rect>
                </g>
                <g>
                    <rect x="70" y="490" width="70px" height="70px" style="fill: beige;"></rect>
                </g>
                <g>
                    <rect x="140" y="490" width="70px" height="70px" style="fill: tan;"></rect>
                </g>
                <g>
                    <rect x="210" y="490" width="70px" height="70px" style="fill: beige;"></rect>
                </g>
                <g>
                    <rect x="280" y="490" width="70px" height="70px" style="fill: tan;"></rect>
                </g>
                <g>
                    <rect x="350" y="490" width="70px" height="70px" style="fill: beige;"></rect>
                </g>
                <g>
                    <rect x="420" y="490" width="70px" height="70px" style="fill: tan;"></rect>
                </g>
                <g>
                    <rect x="490" y="490" width="70px" height="70px" style="fill: beige;"></rect>
                </g>
            </svg>
        </div>
    </div>
{% endblock %}