{% extends "base.html.twig" %} 

{% block title %}Jugar{% endblock %}

 {% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/game.css') }}">
 {% endblock %}

{%block body %}
    {% include "menu.html.twig" %}
    <a class="ui primary button" href="/partida/new">Jugar</a>
{% endblock %}