{# app/Resources/views/ranking/ranking.html.twig #} 
{% extends "base.html.twig" %} 

{% block title %}Jugar{% endblock %}

 {% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/game.css') }}">
 {% endblock %}

{%block body %} 

{% include "menu.html.twig" %}
    <div class="ui container" style="display: flex;justify-content: center;align-items: center;">
        <div class="container-game">
            <svg width="560px" height="560px" style="">
                {# board #}
                <g>
                    <rect x="0" y="0" width="70px" height="70px" class="beige"></rect>
                </g>
                <g>
                    <rect x="70" y="0" width="70px" height="70px" class="tan"></rect>
                </g>
                <g>
                    <rect x="140" y="0" width="70px" height="70px" class="beige"></rect>
                </g>
                <g>
                    <rect x="210" y="0" width="70px" height="70px" class="tan"></rect>
                </g>
                <g>
                    <rect x="280" y="0" width="70px" height="70px" class="beige"></rect>
                </g>
                <g>
                    <rect x="350" y="0" width="70px" height="70px" class="tan"></rect>
                </g>
                <g>
                    <rect x="420" y="0" width="70px" height="70px" class="beige"></rect>
                </g>
                <g>
                    <rect x="490" y="0" width="70px" height="70px" class="tan"></rect>
                </g>
                <g>
                    <rect x="0" y="70" width="70px" height="70px" class="tan"></rect>
                </g>
                <g>
                    <rect x="70" y="70" width="70px" height="70px" class="beige"></rect>
                </g>
                <g>
                    <rect x="140" y="70" width="70px" height="70px" class="tan"></rect>
                </g>
                <g>
                    <rect x="210" y="70" width="70px" height="70px" class="beige"></rect>
                </g>
                <g>
                    <rect x="280" y="70" width="70px" height="70px" class="tan"></rect>
                </g>
                <g>
                    <rect x="350" y="70" width="70px" height="70px" class="beige"></rect>
                </g>
                <g>
                    <rect x="420" y="70" width="70px" height="70px" class="tan"></rect>
                </g>
                <g>
                    <rect x="490" y="70" width="70px" height="70px" class="beige"></rect>
                </g>
                <g>
                    <rect x="0" y="140" width="70px" height="70px" class="beige"></rect>
                </g>
                <g>
                    <rect x="70" y="140" width="70px" height="70px" class="tan"></rect>
                </g>
                <g>
                    <rect x="140" y="140" width="70px" height="70px" class="beige"></rect>
                </g>
                <g>
                    <rect x="210" y="140" width="70px" height="70px" class="tan"></rect>
                </g>
                <g>
                    <rect x="280" y="140" width="70px" height="70px" class="beige"></rect>
                </g>
                <g>
                    <rect x="350" y="140" width="70px" height="70px" class="tan"></rect>
                </g>
                <g>
                    <rect x="420" y="140" width="70px" height="70px" class="beige"></rect>
                </g>
                <g>
                    <rect x="490" y="140" width="70px" height="70px" class="tan"></rect>
                </g>
                <g>
                    <rect x="0" y="210" width="70px" height="70px" class="tan"></rect>
                </g>
                <g>
                    <rect x="70" y="210" width="70px" height="70px" class="beige"></rect>
                </g>
                <g>
                    <rect x="140" y="210" width="70px" height="70px" class="tan"></rect>
                </g>
                <g>
                    <rect x="210" y="210" width="70px" height="70px" class="beige"></rect>
                </g>
                <g>
                    <rect x="280" y="210" width="70px" height="70px" class="tan"></rect>
                </g>
                <g>
                    <rect x="350" y="210" width="70px" height="70px" class="beige"></rect>
                </g>
                <g>
                    <rect x="420" y="210" width="70px" height="70px" class="tan"></rect>
                </g>
                <g>
                    <rect x="490" y="210" width="70px" height="70px" class="beige"></rect>
                </g>
                <g>
                    <rect x="0" y="280" width="70px" height="70px" class="beige"></rect>
                </g>
                <g>
                    <rect x="70" y="280" width="70px" height="70px" class="tan"></rect>
                </g>
                <g>
                    <rect x="140" y="280" width="70px" height="70px" class="beige"></rect>
                </g>
                <g>
                    <rect x="210" y="280" width="70px" height="70px" class="tan"></rect>
                </g>
                <g>
                    <rect x="280" y="280" width="70px" height="70px" class="beige"></rect>
                </g>
                <g>
                    <rect x="350" y="280" width="70px" height="70px" class="tan"></rect>
                </g>
                <g>
                    <rect x="420" y="280" width="70px" height="70px" class="beige"></rect>
                </g>
                <g>
                    <rect x="490" y="280" width="70px" height="70px" class="tan"></rect>
                </g>
                <g>
                    <rect x="0" y="350" width="70px" height="70px" class="tan"></rect>
                </g>
                <g>
                    <rect x="70" y="350" width="70px" height="70px" class="beige"></rect>
                </g>
                <g>
                    <rect x="140" y="350" width="70px" height="70px" class="tan"></rect>
                </g>
                <g>
                    <rect x="210" y="350" width="70px" height="70px" class="beige"></rect>
                </g>
                <g>
                    <rect x="280" y="350" width="70px" height="70px" class="tan"></rect>
                </g>
                <g>
                    <rect x="350" y="350" width="70px" height="70px" class="beige"></rect>
                </g>
                <g>
                    <rect x="420" y="350" width="70px" height="70px" class="tan"></rect>
                </g>
                <g>
                    <rect x="490" y="350" width="70px" height="70px" class="beige"></rect>
                </g>
                <g>
                    <rect x="0" y="420" width="70px" height="70px" class="beige"></rect>
                </g>
                <g>
                    <rect x="70" y="420" width="70px" height="70px" class="tan"></rect>
                </g>
                <g>
                    <rect x="140" y="420" width="70px" height="70px" class="beige"></rect>
                </g>
                <g>
                    <rect x="210" y="420" width="70px" height="70px" class="tan"></rect>
                </g>
                <g>
                    <rect x="280" y="420" width="70px" height="70px" class="beige"></rect>
                </g>
                <g>
                    <rect x="350" y="420" width="70px" height="70px" class="tan"></rect>
                </g>
                <g>
                    <rect x="420" y="420" width="70px" height="70px" class="beige"></rect>
                </g>
                <g>
                    <rect x="490" y="420" width="70px" height="70px" class="tan"></rect>
                </g>
                <g>
                    <rect x="0" y="490" width="70px" height="70px" class="tan"></rect>
                </g>
                <g>
                    <rect x="70" y="490" width="70px" height="70px" class="beige"></rect>
                </g>
                <g>
                    <rect x="140" y="490" width="70px" height="70px" class="tan"></rect>
                </g>
                <g>
                    <rect x="210" y="490" width="70px" height="70px" class="beige"></rect>
                </g>
                <g>
                    <rect x="280" y="490" width="70px" height="70px" class="tan"></rect>
                </g>
                <g>
                    <rect x="350" y="490" width="70px" height="70px" class="beige"></rect>
                </g>
                <g>
                    <rect x="420" y="490" width="70px" height="70px" class="tan"></rect>
                </g>
                <g>
                    <rect x="490" y="490" width="70px" height="70px" class="beige"></rect>
                </g>
                {# board #}
                {# piece white #}
                <g>
                    <circle cx="105" cy="35" r="30px" class="white"></circle>
                </g>
                <g>
                    <circle cx="245" cy="35" r="30px" class="white"></circle>
                </g>
                <g>
                    <circle cx="385" cy="35" r="30px" class="white"></circle>
                </g>
                <g>
                    <circle cx="525" cy="35" r="30px" class="white"></circle>
                </g>
                <g>
                    <circle cx="35" cy="105" r="30px" class="white"></circle>
                </g>
                <g>
                    <circle cx="175" cy="105" r="30px" class="white"></circle>
                </g>
                <g>
                    <circle cx="315" cy="105" r="30px" class="white"></circle>
                </g>
                <g>
                    <circle cx="455" cy="105" r="30px" class="white"></circle>
                </g>
                <g>
                    <circle cx="105" cy="175" r="30px" class="white"></circle>
                </g>
                <g>
                    <circle cx="245" cy="175" r="30px" class="white"></circle>
                </g>
                <g>
                    <circle cx="385" cy="175" r="30px" class="white"></circle>
                </g>
                <g>
                    <circle cx="525" cy="175" r="30px" class="white"></circle>
                </g>
                {# piece white #}
                {# piece black #}
                <g>
                    <circle cx="35" cy="525" r="30px" class="black"></circle>
                </g>
                <g>
                    <circle cx="175" cy="525" r="30px" class="black"></circle>
                </g>
                <g>
                    <circle cx="315" cy="525" r="30px" class="black"></circle>
                </g>
                <g>
                    <circle cx="455" cy="525" r="30px" class="black"></circle>
                </g>
                <g>
                    <circle cx="105" cy="455" r="30px" class="black"></circle>
                </g>
                <g>
                    <circle cx="245" cy="455" r="30px" class="black"></circle>
                </g>
                <g>
                    <circle cx="385" cy="455" r="30px" class="black"></circle>
                </g>
                <g>
                    <circle cx="525" cy="455" r="30px" class="black"></circle>
                </g>
                <g>
                    <circle cx="35" cy="385" r="30px" class="black"></circle>
                </g>
                <g>
                    <circle cx="175" cy="385" r="30px" class="black"></circle>
                </g>
                <g>
                    <circle cx="315" cy="385" r="30px" class="black"></circle>
                </g>
                <g>
                    <circle cx="455" cy="385" r="30px" class="black"></circle>
                </g>
                {# piece black #}                
            </svg>
        </div>
    </div>



{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/game.js') }}"></script>
{% endblock %}
