<header>
    <nav class="be-red">
        <ul class="no-list row center-xs middle-xs">
            <li class="col-md">
                <img src="{{ asset('logo.png') }}" alt="" class="no-margin" id="logo">
                {# <h1>DamasOL</h1> #}
            </li>
            <li class="col-md">
                <a href="/">Jugar</a>
            </li>
            <li class="col-md">
                <a href="/ranking">Ranking</a>
            </li>
            <li class="col-md">
                Como Jugar?
            </li>
            <li class="col-md">
                <a href="/logout">Cerrar Sesión</a>
            </li>
        </ul>
    </nav>
</header>